* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black
}

#audioBtn {
    color: rgb(0, 0, 0);
    opacity: .5;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#overlappingDiv {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

#pokemon-menu {
    background-color: white;
    border: 4px solid black;
    font-size: 11px;
    width: 250px;
    position: absolute;
    top: 150px;
    left: 50px;
    padding: 0px 12px 12px 12px;
}



#menu {
    display: none;
    background-color: white;
    border: 4px solid black;
    width: 250px;
    position: absolute;
    top: 150px;
    right: 50px;
    padding: 0px 12px 12px 12px;
}

#menu ul {
    list-style-type: none;
    padding-left: 0px !important;
}

#menu ul li {
    padding: 20px;
    text-decoration: none;
}

li:hover {
    background-color: grey;
    color: white;
}


/** DIV POKEMON **/
#pokemons {
    display: none;
    background-color: white;
    border: 4px solid black;
    width: 450px;
    position: absolute;
    top: 150px;
    left: 50px;
    padding: 0px 12px 12px 12px;
}

#pokemons ul {
    list-style-type: none;
    padding-left: 0px !important;
}

#pokemons ul li {
    padding: 20px;
    text-decoration: none;
}


#rivalPokemon {
    display: none;
    background-color: white;
    border: 4px solid black;
    width: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 0px 12px 12px 12px;
}


#myPokemon {
    display: none;
    background-color: white;
    border: 4px solid black;
    width: 300px;
    position: absolute;
    bottom: 200px;
    right: 50px;
    padding: 0px 12px 12px 12px;
}

#battleBar {
    display: none;
    opacity: 0.9;
    background-color: white;
    height: 150px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#battleDialog {
    width: 60%;
    padding: 10px;
}

#battleChoice {
    display: inline-block;
}

.action {
    width: 50%;
    color: #fff;
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#actionFight {
    background: #ea1d00;
}

#actionFight:hover {
    background: gray;
    color: #ea1d00
}

#actionBag {
    background: #0048ea;
}

#actionBag:hover {
    background: gray;
    color: #0048ea
}

#actionPokemon {
    background: #e7ea00;
}

#actionPokemon:hover {
    background: gray;
    color: #e7ea00
}

#actionRun {
    background: #00ea1d;
}

#actionRun:hover {
    background: gray;
    color: #00ea1d
}

#healthBarTotal {
    height: 5px;
    background-color: #ccc;
    margin-top: 10px;
}


#healthBar {
    height: 5px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px
}

#form {
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 93%;
}

#messages>li {
    font-size: 11px;
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#chat {
    display: inline-block;
    width: 381px;
    background: beige;
    height: 90%;
    position: absolute;
    margin-left: 5px;
}

#optionFight {
    display: inline-block;
    padding: 10px;
    border: 3px solid;
    text-align: center;
    margin: 10px;
}